#pagina-inicial{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;

    text-align: center;

    background-image: linear-gradient(45deg, #d576282a, #12065559 60%), url('/img/astronomia.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    animation: fadeIn 2.0s both;
}

#topo {
    padding: 0 1.5vw;
    background-color: #031f3bfd;
    width: 100%;
    height: 8vh;
    align-items: center;
    border-bottom: 2px solid #000000ce;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 50;


    .nome {
        padding: 0;
        width: 15vw;
        line-height: 0.9em;
        color:  #d4d4d4;
        font-size: calc((3vh + 1.5vw)/2);
        font-weight: 100;
        text-align: center;
        font-family: cursive;
        flex-wrap: wrap;
    
        letter-spacing: -0.2vw;
    }
    
    .menu {
        max-width: 75vw;
        height: 8vh;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: left;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-menu {
        margin: 0 0.75vw;
        height: calc(((2.5vh + 1.25vw)/2) + 2*((2vh + 1vw)/2));
        padding: calc((1.5vh + 0.75vw)/2);
        justify-content: center;
        align-items:center ;
        // text-align: left;
        color: #c9c9c9;
        text-decoration: none;
        border: 0.3vh solid #c9c9c9;
        border-radius: 2.75vh;
        transition: color 0.3s ease, border-color 0.3s ease;

        h3 {
            margin: 0;
            padding: 0;
            font-size: calc((2.5vh + 1.25vw)/2);
            line-height: calc((2.5vh + 1.25vw)/2);
            font-weight: 100;
        }

        // p {
        //     margin: 0;
        //     font-size: 20px;
        //     line-height: 24px;
        // }
        
        &:hover,
        &:focus,
        &:active {
            color:  #000000ce;
            border-color:  #000000ce;
            animation: bounce 1s;
        }
    }
}



#inicio {
    background-color:#31313188;
    padding: 0;
    flex: 1;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin: 0;
        margin-top: 220px;
        padding: 0 3px;
        line-height: 0.9em;
        text-align: center;
        font-size: 62px;
        font-weight: 100;
        letter-spacing: 5px;

        a {
            padding: 0;
            color: #0070f3;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                animation: aparecerBorda 0.3s 0s ease-in-out forwards;
                border-radius: 15px;
            }
        }
    }

    .versao {
        background: #d8dbff;
        border-radius: 5px;
        padding: 12px;
        margin-top: 30px;
        font-size: 18px;
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    }

    .descricao {
        text-align: center;
        margin: 0;
        margin-top: 30px;
        line-height: 24px;
        font-size: 24px;
        color: #d4d4d4;

        a {
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                animation: esmaecer 0.8s 0s ease-in-out forwards;
            }
        }
    }
}



#conhecer {
    padding: 20px 0 20px 0;
    border-top: 2px solid #000000ce;
    width: 100%;
    margin-top: 220px;
    // background-color:linear-gradient(to bottom, #d57528, #1206557a 40%);
    background-image: linear-gradient(to top, #d57528, #1206557a 80%);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 49;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 0;
    margin: 0;

    .card {
        margin: 16px;
        flex-basis: 45%;
        padding: 24px;
        text-align: left;
        color: #c9c9c9;
        text-decoration: none;
        border: 3px solid #c9c9c9;
        border-radius: 10px;
        transition: color 0.3s ease, border-color 0.3s ease;
        
        h3 {
            margin: 0 0 16px 0;
            font-size: 24px;
        }

        p {
            margin: 0;
            font-size: 20px;
            line-height: 24px;
        }
        
        &:hover,
        &:focus,
        &:active {
            color:  #000000ce;
            border-color:  #000000ce;
            animation: bounce 1s;
        }
    }
}


.fundo2 {
    background-image: linear-gradient(to top, #d576286e, #031f3b62 60%),url('/img/fundo2.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width:100%;
}

.conteudo-fundo2 {
    background-color: #31313188;
    width: 100%;
    padding:24px 0;
    border-top: 2px solid #000000ce;
    margin: 0;
    padding: 50px 0;
    
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex; 
    flex-direction: column;
}

#rodape-inicial {
    background-color: #c4c4c4;
    margin: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #000000ce;
    display: flex;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h4 {
        font-family: 'Times New Roman', Times, serif;
        margin: 5px 0;
    }
}