
#pagina-inicial{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue,Helvetica,Arial,sans-serif;

    text-align: center;

    background-image: linear-gradient(45deg, #d576282a, #12065559 60%), url('/img/astronomia.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: fadeIn 1.0s both;

    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}

#topo {
    padding: 0 1.5vw;
    background-color: #031f3bfd;
    width: 100%;
    height: 8vh;
    align-items: center;
    border-bottom: 2px solid #000000ce;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 50;


    .nome {
        position: fixed;
        top: 0;
        left: 0;
        margin: 2.5vh 0 0 5vh;
        padding: 0;
        width: 15vw;
        line-height: 0.9em;
        color:  #d4d4d4;
        font-size: calc((3.5vh + 1.75vw)/2);
        font-weight: 100;
        text-align: center;
        font-family: cursive;
        flex-wrap: wrap;
    
        letter-spacing: -0.2vw;
    }
    
    .menu {
        max-width: 78vw;
        height: 8vh;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: left;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-menu {
        margin: 0 0.7vw;
        height: calc(((2.4vh + 1.2vw)/2) + 2*((1.8vh + 0.75vw)/2));
        padding: calc((1.2vh + 0.6vw)/2) calc((1.3vh + 0.6vw)/2);
        justify-content: center;
        align-items:center ;
        // text-align: left;
        color: #c9c9c9;
        text-decoration: none;
        border: 0.3vh solid #c9c9c9;
        border-radius: 2.75vh;
        transition: color 0.3s ease, border-color 0.3s ease;

        h3 {
            margin: 0;
            padding: 0;
            font-size: calc((2.5vh + 1.25vw)/2);
            line-height: calc((2.5vh + 1.25vw)/2);
            font-weight: 400;
        }

        // p {
        //     margin: 0;
        //     font-size: 20px;
        //     line-height: 24px;
        // }
        
        &:hover{
            color:  #0070f3;
            border-color:  #0070f3;
            animation: bounce 1s;
        }


        &:active{
            transform: scale(0.95) !important;
        }
    }
}



#inicio {
    background-color:#31313188;
    padding: 0;
    flex: 1;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin: 0;
        margin-top: 45vh;
        padding: 0 3px;
        line-height: 0.9em;
        text-align: center;
        font-size: 60px;
        font-weight: 100;
        letter-spacing: 1px;

        animation: fadeIn 1.0s 0.3s both;

        a {
            padding: 15px 0 0 0;
            color: #0070f3;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                animation: aparecerBorda 0.3s 0s ease-in-out forwards;
                border-radius: 15px;
            }
        }
    }

    .versao {
        background: #d8dbff;
        border-radius: 5px;
        padding: 12px;
        margin-top: 30px;
        font-size: 18px;
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
        animation: fadeIn 1.0s 0.6s both;
    }

    .descricao {
        text-align: center;
        margin: 0;
        margin-top: 60px;
        line-height: 24px;
        font-size: 24px;
        color: #d4d4d4;
        animation: fadeIn 1.0s 0.6s both;

        a {
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                animation: esmaecer 0.8s 0s ease-in-out forwards;
            }
        }
    }
}



#conhecer {
    padding: 20px 0 20px 0;
    border-top: 2px solid #000000ce;
    width: 100%;
    margin-top: 40vh;
    // background-color:linear-gradient(to bottom, #d57528, #1206557a 40%);
    background-image: linear-gradient(to top, #d57528, #1206557a 80%);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 49;
}

@mixin frase-formatacao () {
    $formatacao: center;
    $letra-tamanho: 18px;
    $autor: 20px;
    $margem: 24px 5px;
    $largura: 50vw;
    $largura-minima: 350px;

    margin: 16px;
    padding: $margem;
    height: 160px;
    width: $largura;
    min-width: $largura-minima;
    position: absolute;
    text-align: left;
    color: #c9c9c9;
    text-decoration: none;
    border: 3px solid #c9c9c9;
    text-align: $formatacao;
    border-radius: 10px;
    font-size: $letra-tamanho;
        
    opacity: 0;

    h3 {margin: 16px 0 0 0; font-size: $autor;}
}
.grid {
    $tempo-duracao: 60s;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    max-width: 900px;
    padding: 0;
    margin: 0;
    position: relative;

    .frase-A {
        @include frase-formatacao();

        animation: frases $tempo-duracao 0s ease infinite;
    }

    .frase-B {
        @include frase-formatacao();
    
        animation: frases $tempo-duracao 12s ease infinite;
    }

    .frase-C {
        @include frase-formatacao();

        animation: frases $tempo-duracao 24s ease infinite;
    }

    .frase-D {
        @include frase-formatacao();

        animation: frases $tempo-duracao 36s ease infinite;
    }

    .frase-E {
        @include frase-formatacao();

        animation: frases $tempo-duracao 48s ease infinite;
    }
}


.fundo2 {
    background-image: linear-gradient(to top, #d576286e, #031f3b62 60%),url('/img/fundo2.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width:100%;
}

.conteudo-fundo2 {
    background-color: #31313188;
    width: 100%;
    border-top: 2px solid #000000ce;
    margin: 0;
    padding: 30px 0 240px 0;
    
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex; 
    flex-direction: column;

    .seta {
        width: 50px;
        height: 50px;
        margin: 20px 0;

        animation: bounce2 2s infinite;
    }
     
    .box-engrenagem{
        display: flex; 
        flex-direction: column; 

        width: 100px;
        height: 100px;
        border: 2px solid #c9c9c925;
        border-radius: 50px;
        align-items: center;
        justify-content: center;

        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-image: linear-gradient(to top, #d576286e, #031f3b62 30%);
    }
    .engrenagem{
        width: 80px;
        height: 80px;

        animation: rotacionar 5s 0.3s infinite;
    }
}

#rodape-inicial {
    background-color: #c4c4c4;
    margin: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #000000ce;
    display: flex;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h4 {
        font-family: 'Times New Roman', Times, serif;
        margin: 5px 0;
    }
}