#projetos{
    padding: 0;
    border-top: 2px solid #000000ce;
    width: 100%;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(45deg, #036b087c, #1206557a 60%), url('/img/floresta.png');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    height: 0;

    opacity: 1;

    animation: aparecer 4s 0.8s ease-out forwards;

    .grid-projetos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1000px;
        padding: 0;
        margin: 0;

        

        a {
            opacity: 1;
            text-decoration: none;
            margin: 0 5px;
            transition: all 2s ease-in-out;

            &:hover,
            &:focus{
                transform: rotate(15deg) scale(1) !important;
            }
            &:active {
                transform: rotate(15deg) scale(1.1) !important;
            }
        }

        .a-1{
            animation: oscilar 4s 8s infinite ease-out;
        }
        .a-2{
            animation: oscilar 4s 9s infinite ease-out;
        }
        .a-3{
            animation: oscilar 4s 10s infinite ease-out;
        }
        .a-4{
            animation: oscilar 4s 11s infinite ease-out;
        }
    }
}